{% extends 'base.html' %}


{% block content %}

    <div class="form-wrapper">
      <h2 class="title">Search by Title</h2>

      <form method="POST" action="{{ url_for('search') }}">

          <fieldset class="form-field">
              {{ form.title.label }}
              {{ form.title(size=20) }}
          </fieldset>

          {{ form.submit }}

      </form>
    </div>

{% endblock %}